*{
    text-align: center;
}
#mainTopic{
    color: blue;
    font-family: Georgia;

}
.heading{
    font-family: Georgia;
}
#mainTopic::first-letter{
    color: red;
}
.paragraph{
    color: white;
    background-color:cornflowerblue ;
    
}
 div button{
    color: azure;
    background-color: purple;

}
div > button:hover{
        color: blue;
        background-color: yellow;
}
p:nth-of-type(2n+1){
    color: yellow;
}
#yes:checked + label {
        color: darkgreen;
}
